<h1> About the To Do List</h1>
<br />

<p>
Bacon ipsum dolor amet doner laborum short ribs tri-tip pancetta, anim eiusmod kielbasa adipisicing commodo. Officia lorem est venison mollit eu pastrami. Tongue consectetur labore, picanha dolor sausage cillum meatloaf cow aliqua. Sausage salami non, dolore proident nisi mollit ut consequat velit exercitation. Irure in turkey culpa magna. Flank aute lorem laboris salami, ex venison.
</p>
<p>
Enim ham fatback leberkas, pariatur short ribs tenderloin magna ullamco. Cow elit reprehenderit pastrami. Shankle tail id ut short loin sint. Pork chop drumstick boudin tenderloin, aliquip pork loin ad sunt aute strip steak chuck. Chicken jerky drumstick, ea pastrami pancetta flank laborum aliqua pork anim meatloaf officia elit in. Kielbasa filet mignon proident, cupim ground round deserunt tempor mollit minim ipsum bacon commodo adipisicing jowl.
</p>

<%= link_to 'Return to main page', root_path %>
